---
import Main from '../layouts/Main.astro'
---
<Main>
	<h1>Bob 929</h1>

	<p>If you have learned to run PyTorch or Tensorflow in the Cloud on your image dataset, what are you going to do with your
		fancy new Machine Vision Model?

		How about testing it in the field without dragging a laptop around.
	</p>

	<p>
		When you load your model on to Bob, you have the freedom of movement.
		It gives you an advanced stereo camera that can see in daylight and at night.
	</p>

	<p>
		What a computer didn't have a screen?

		At first it might seem silly, but what if it turns out to be useful.
		
		We usually use a computer by pulling out and the tell it to do something and then wait until it is done,
		and then go on to tell it what to do next.

		Doesn't that sound like micromanagment?

		What if we told the computer how to do something instead of what to do?

	</p>
</Main>

Bob acts like a USB Stick with 8GB of storage for saving scripts and ML models.

Personal Computer Appeal

Youtubeability
